Part A: Data Structures

In [ ]:
#List of numners from 1 to 10
numbers = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
#Appending 12 to the list
numbers.append(12)

In [ ]:
#Removing 6 from the list
numbers.remove(6)

In [ ]:
#updated list
print(numbers)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 12]

In [ ]:
#Turple of 5 city names
Cities = ('Kampala', 'Mbarara', 'Mbale', 'Arua', 'Hoima')

In [ ]:
#Checking the index of Mbale
Cities.index('Mbale')

2

In [ ]:
#Trying to remove Arua from the tuple
Cities.remove('Arua')
#It returns an error because tuples are immutable, and can only be counted or indexed.

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#Set of student names
Students = {'John', 'Ben', 'Sara', 'Rose', 'Mary'}
#Adding a duplicate
Students.add{'Mary'}
#Invalid syntax because sets donot allow duplicates

SyntaxError: invalid syntax (<ipython-input-23-f9a4dbc13968>, line 4)

In [ ]:
#Dictionary of Neighbour
Neighbour = {'name':'Margaret', 'age':50, 'email': 'maggienash@gmail.com'}

In [ ]:
#Updating the email and printing keys and values
Neighbour.update({'email':'margaretatukunda@gmail.com'})
print(Neighbour)

{'name': 'Margaret', 'age': 50, 'email': 'margaretatukunda@gmail.com'}

Part B: Control Flow

In [ ]:
#Loop that prints whether each number from 1-20 is odd or even
for number in range(1,21):
  if number % 2 == 0:
    print(f'{number} is even')
  else:
    print(f'{number} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [ ]:
#Using a loop to iterate over the dictionary of neighbour in part A.
for key in Neighbour.keys():
  print(key, Neighbour[key])

name Margaret
age 50
email margaretatukunda@gmail.com

In [ ]:
#Write a program that grades a student
#the program would selcet the grade in which the student's makrs fall, and in this case, 100 is an A
marks = 100
if marks >= 80:
  print('A')
elif marks >=70:
  print('B')
elif marks >=60:
  print('C')
elif marks >=50:
  print('D')
else:
  print('F')

A

Part C: Functions and Modular Code

In [ ]:
#Define a function that calculates and returns the mean
#Using the numbers in part A;
def calculate_mean(numbers):
    return sum(numbers) / len(numbers)

data = (numbers)
mean = calculate_mean(data)
print('mean:', mean)

mean: 6.1

In [ ]:
#utils.py
def greet_user(name):
    print(f"Hello, {name}!")

def square(n):
    return n**2

Part D:Error Handling

In [ ]:
def divide (y,x):
  if x == 0:
    except ZeroDivisionError:
    print('Cannot divide by zero!')

  if y== 0:
    except ZeroDivisionError:
    print('Cannot divide by zero!')

#I've done if for both y & x, incase any of the values they enter is 0

  finally:
    print('Operation complete.')